* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
    
}

body {
    background: #f4f6f8;
    color: #333;
    background-color: blueviolet;

}

/* Navbar */
header {
    background: #222;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Sections */
.section {
    padding: 70px 20px;
    text-align: center;
}

/* home */
.home{
    height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 8%;
    background-color: blueviolet;
}

/* LEFT */
.left{
    max-width:600px;
}

.left h3{
    font-size:26px;
    margin-bottom:10px;
}

.name{
    font-size:72px;
    font-weight:bold;
    margin-bottom:10px;
}

.left h2{
    font-size:32px;
    color:#00eaff;
}

.left p{
    margin:20px 0;
    line-height:1.7;
    color:#d6d6d6;
}

/* BUTTONS */
.buttons{
    margin-top:20px;
}

.btn{
    background:#00eaff;
    color:black;
    padding:12px 22px;
    border-radius:6px;
    text-decoration:none;
    margin-right:12px;
    font-weight:bold;
    display:inline-block;
}

.btn:hover{
    transform:scale(1.05);
}

.outline{
    background:transparent;
    border:2px solid #00eaff;
    color:#00eaff;
}

/* RIGHT IMAGE */
.right{
    display:flex;
    justify-content:center;
    align-items:center;
}

.glow{
    padding:8px;
    border-radius:50%;
    box-shadow:
        0 0 30px #00eaff,
        0 0 60px #00eaff,
        0 0 120px #00eaff;
}

.glow img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
}


/* responsive */
@media(max-width:768px){
    .home{
        flex-direction:column;
        text-align:center;
    }

    .name{
        font-size:50px;
    }

    .right{
        margin-top:40px;
    }
}
/* Cards */
.cards {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background: rgb(11, 11, 11);
    padding: 20px;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer
footer {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
} */
   /* ===== Contact ===== */
        form {
            max-width: 400px;
            margin: auto;
            text-align: center;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            color: black;
        }

        button {
            background: #00adb5;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background: #007f86;
        }

        /* ===== Footer ===== */
        footer {
            background: #222;
            color: white;
            padding: 15px;
        text-align: center;
        }
        h2 {
            margin-bottom: 20px;
            color: #00adb5;
            text-align: center;
        }
